/* Main */
body {
	padding-bottom: 100px;
}
.navbar {
	border-radius: 0;
}
.heading-search {
	margin-top:10px;
}

/* hide search from smaller devices */
@media all and (max-width:800px) {
	.form-heading {
		display: none;
	}
}

/* Edit screen */
.label-required:after {
	content: " *";
	color: #e74c3c;
}
.btn-submit {
	width: 90px;
}
.custom-alert {
    text-align: center;
    display:none;
    padding: 18px!important;
    position:fixed;
    width:100%;
    border-radius: 0!important;
    bottom:0;
    left:0;
    z-index: 999999;
    min-height: 55px;
    margin-bottom:0;
    font-weight: bold;
}

/* Home screen gravatars */
.gravatar-list {
	padding-left: 0;
	display: block;
	margin: 0 auto;
}
.gravatar-list li {
	list-style: none;
	float: left;
	height:auto;
	width: 5%;
}
.gravatar-img {
	cursor: pointer;
	width: 100%;
	max-width: 80px;
	height:auto;
}
.modal-body {
	overflow: auto;
}